@mixin transition($trans...) {
  transition: $trans;
}

@mixin flex($dir: column, $jc: center, $ai: "") {
  display: flex;
  flex-direction: $dir;

  @if $dir == row {
    justify-content: $jc;
    align-items: unquote($ai);
  } @else if $dir == column {
    align-items: $jc;
    justify-content: unquote($ai);
  }
}

@mixin input-styles {
  input {
    max-width: 600px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin: 10px 0;
    padding: 5px;
    background: #9ec8e0;
    color: black;
    outline: none;

    &::placeholder {
      color: black;
      opacity: 0.5;
      outline: none;
    }

    &:focus {
      transition: background-color 0.5s ease-in-out;
      outline: none;
      border: 1px solid black;
      background: #eee;
    }
  }
}

@mixin toggle-button {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  margin: 0;
  vertical-align: top;
  background: #ffffff;
  border: 1px solid #bbc1e1;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  @include transition(all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2));

  &::after {
    content: "";
    @include transition(all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2));

    display: inline-block;
    position: absolute;
    left: 3px;
    top: 1.5px;

    width: 20px;
    height: 20px;
    background-color: blue;
    border-radius: 50%;

    transform: translateX(0);
  }
  &:checked::after {
    transform: translateX(calc(100% + 3px));
    background-color: #fff;
  }
  &:checked {
    background-color: blue;
  }
}
